.banner-carousel {
  $slider-gutter: 6px;
  $slider-count: 10 + 6;

  $first-slider-percentage: percentage(3 / $slider-count);
  $first-slider-width: calc(#{$first-slider-percentage} - 96px);

  position: relative;

  #tns1 {
    .tns-item {
      transition: width 600ms ease-in-out;

      .banner-content > * {
        opacity: 0;
        visibility: hidden;
      }
    }

    .tns-item.tns-slide-active {
      width: $first-slider-width;

      .banner-content > * {
        opacity: 1;
        visibility: visible;
        transition: all 800ms ease-in-out;
      }
    }

    .tns-item.tns-slide-active ~ .tns-slide-active {
      flex-grow: 0;
      width: 46px;

      .banner-content > * {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .banner-slider {
    overflow: hidden;
    border-radius: 5px;
  }

  .slider-controls {
    @include pos-center-y;
  }

  .banner-card {
    position: relative;
    display: block;
    height: 343px;
    overflow: hidden;
    border-radius: 5px;

    .banner-image {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .banner-content {
      @include column-flexbox(end, start);
      @include pos-center-x;
      bottom: 0;
      width: 100%;
      height: 200px;
      padding: 22px;
      padding-left: 16px;

      .badge-white {
        margin-bottom: 8px;
      }

      .title,
      .desc {
        @include line-clamp(2);
        color: $white;
      }

      .title {
        @include text-style(26);
        margin-bottom: 4px;
        font-weight: 700;
      }

      .desc {
        @include text-style(14);
        margin-bottom: 8px;
      }
    }
  }

  @include responsive('T') {
    .banner-card {
      height: 400px;

      &:hover {
        .banner-image {
          img {
            transform: scale(1.1);
          }
        }
      }

      .banner-image {
        img {
          transition: transform 200ms ease-in-out;
        }
      }

      .banner-content {
        height: 240px;
        padding: 46px;
        padding-left: 40px;

        .title {
          @include text-style(32);
        }

        .desc {
          @include text-style(16);
        }
      }
    }
  }
}

.swipe-left {
  animation-delay: 500ms;
  animation-name: swipeLeft;
  animation-timing-function: ease-in-out;
}

@keyframes swipeLeft {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
