.banner-category {
  .category-list {
    @include flexbox(start);
    @include text-style(14);
  }

  .category-item {
    &.is-active {
      overflow: hidden;
      pointer-events: none;
      background-color: $blue;
      border-radius: 100px;

      .btn-ghost {
        font-weight: 700;
        color: $white;
      }
    }
  }

  .btn-ghost {
    height: 30px;
    padding: 0 10px;
    font-weight: 500;
    color: $primary;

    span {
      color: inherit;
    }
  }

  @include responsive('T') {
    .category-list {
      @include text-style(16);
    }

    .category-item {
      margin: 0 2px;
    }

    .btn-ghost {
      height: 34px;
    }
  }
}
