.slider-controls {
  display: none;

  @include responsive('T') {
    @include flexbox(between);
    width: 100%;

    .control-button {
      @include flexbox;
      width: 40px;
      font-size: 16px;
      color: $primary;
      background-color: $white;
      border: 1px solid $border;
      border-radius: 50%;
      box-shadow: 2px 4px 8px rgba($black, 0.06);

      &:hover > i {
        opacity: 0.4;
      }

      &:active > i {
        color: $blue;
      }

      &.is-prev {
        transform: translateX(-50%) rotate(180deg);
      }

      &.is-next {
        transform: translateX(50%);
      }

      i {
        transition: opacity 150ms ease-in-out;
      }
    }
  }
}
