.gnb {
  position: sticky;
  top: 0;
  left: 0;
  z-index: $gnb-level;
  margin-bottom: $gnb-bottom-height-sm;
  background-color: $white;

  &.is-hide {
    .gnb-bottom {
      transform: translateY(0);
    }
  }

  &-top {
    position: relative;
    z-index: $gnb-top-level;
    height: 40px;
    background-color: $black;

    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100vw;
      height: 16px;
      content: '';
      transform: translateY(100%);
    }

    &::before {
      background-color: $black;
    }

    &::after {
      background-color: $white;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
    }
  }

  &-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: $gnb-bottom-level;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 6px;
    background-color: $white;
    transform: translateY(100%);
    transition: transform 200ms ease-in-out;

    .container {
      @include flexbox(between);
      position: relative;
      flex-wrap: wrap;
    }
  }

  .logo {
    margin-left: -16px;

    a {
      @include inline-flexbox(start);
      padding: 13px 16px 14px 16px;
    }

    img {
      width: auto;
      height: 15px;

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  .search-form {
    padding-top: 9px;
    padding-bottom: 5px;
  }

  @include responsive('T') {
    margin-bottom: 0;

    &-top {
      background-color: transparent;
      border-bottom: 1px solid $border;

      &::before,
      &::after {
        display: none;
      }

      .container {
        @include flexbox(between);

        .gnb-nav {
          margin-left: -12px;
        }

        .gnb-auth {
          margin-right: -12px;
        }
      }
    }

    &-bottom {
      position: static;
      padding: 16px 0;
      transform: translateY(0);

      .container {
        flex-wrap: nowrap;
      }
    }

    .logo {
      flex-grow: 1;
      margin-left: -8px;

      a {
        padding: 8px;
        padding-bottom: 9px;
      }

      img {
        height: 23px;

        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }

    .search-form {
      width: 260px;
      padding: 0;
      margin-right: 8px;
    }

    .link-group {
      @include flexbox(end);
      margin-right: -14px;

      .gnb-icon-button {
        position: relative;
        top: 1px;
        width: 40px;
        margin: 0 6px;
        border-radius: 50%;

        i {
          font-size: 28px;
        }
      }
    }
  }
}
